[submodule "lib/libdispatch"]
	path = lib/libdispatch
	url = https://github.com/nickhutchinson/libdispatch
[submodule "lib/libpwq"]
	path = lib/libpwq
	url = https://github.com/mheily/libpwq.git
[submodule "lib/lemon"]
	path = lib/lemon
	url = hg::http://lemon.cs.elte.hu/hg/lemon
