.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Coverage
*.gcda
*.gcno
*.gcov
/tests/coverage

/combine-msa-vcf/cmdline.c
/combine-msa-vcf/cmdline.h
/combine-msa-vcf/combine_msa_vcf
/combine-msa-vcf/config.h
/combine-msa-vcf/msa_data_source_parse_msa.cc
/combine-msa-vcf/msa_data_source_parse_msa.pdf
/tests/test-files/variant-graph/*.dot
/tests/test-files/variant-graph/*.graph
/tests/test-files/variant-graph/*.pdf
/tests/tests
/vcf2multialign/cmdline.c
/vcf2multialign/cmdline.h
/vcf2multialign/config.h
/vcf2multialign/vcf2multialign
