.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Coverage
*.gcda
*.gcno

combine-msa-vcf/cmdline.c
combine-msa-vcf/cmdline.h
combine-msa-vcf/combine_msa_vcf
combine-msa-vcf/config.h
combine-msa-vcf/msa_combiner_parse_msa.cc
combine-msa-vcf/msa_combiner_parse_msa.pdf
create-variant-graph/cmdline.c
create-variant-graph/cmdline.h
create-variant-graph/config.h
create-variant-graph/create_variant_graph
index-vcf/cmdline.c
index-vcf/cmdline.h
index-vcf/config.h
index-vcf/index_vcf
inspect-variant-graph/cmdline.c
inspect-variant-graph/cmdline.h
inspect-variant-graph/config.h
inspect-variant-graph/inspect_variant_graph
preprocess-vcf/cmdline.c
preprocess-vcf/cmdline.h
preprocess-vcf/config.h
preprocess-vcf/preprocess_vcf
tests/tests
variant-graph-to-gv/cmdline.c
variant-graph-to-gv/cmdline.h
variant-graph-to-gv/config.h
variant-graph-to-gv/variant_graph_to_gv
variant-graph-to-sequences/cmdline.c
variant-graph-to-sequences/cmdline.h
variant-graph-to-sequences/config.h
variant-graph-to-sequences/variant_graph_to_sequences
vcf-to-unaligned/cmdline.c
vcf-to-unaligned/cmdline.h
vcf-to-unaligned/config.h
vcf-to-unaligned/vcf_to_unaligned
