.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

combine-variants/cmdline.c
combine-variants/cmdline.h
combine-variants/config.h
combine-variants/combine_variants
preprocess-vcf/cmdline.c
preprocess-vcf/cmdline.h
preprocess-vcf/config.h
preprocess-vcf/preprocess_vcf
variant-graph-to-gv/cmdline.c
variant-graph-to-gv/cmdline.h
variant-graph-to-gv/config.h
variant-graph-to-gv/variant_graph_to_gv
vcf2multialign/cmdline.c
vcf2multialign/cmdline.h
vcf2multialign/config.h
vcf2multialign/vcf2multialign
